header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    /* font-family: monospace; */
    font-family: 'Roboto Condensed';
    color: rgb(97, 223, 232);
    border: rgb(97, 223, 232) 7px;
    border-style: double;
    width: 20%;

    text-shadow: 2px 2px 8px rgb(97, 223, 232);
}